.question {
  text-align: center;
  margin: 2rem 0;
}

.answers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.answer {
  padding: 10px;
  background-color: black;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin: 1rem 0;
  width: 50%;
  text-align: center;
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
}

.answer:hover {
  background-color: #8ec5fc;
}

.score {
  font-weight: bold;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.question_number {
  font-weight: bold;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
