.header,
.primary_text {
  text-align: center;
}

.header {
  margin: 2rem 0 5rem 0;
}

.username_input {
  border: 1px solid black;
  background-color: whitesmoke;
  outline: 0;
  width: 60%;
  padding: 1rem;
  border-radius: 25px;
  display: block;
  margin: 2rem auto 5rem auto;
  font-size: 1rem;
}

.start_btn {
  border: 0;
  outline: 0;
  width: 60%;
  padding: 1rem;
  border-radius: 25px;
  cursor: pointer;
  background-color: black;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  display: block;
  margin: 2rem auto;
}

.top_score {
  font-weight: bold;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
